:root {
    font-size: 18pt;
}
body {
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    background-image: linear-gradient(-45deg, #26cb9d, #006aff, #6427bc);
    background-size: 300% 300%;
    animation: gradient 15s ease infinite;
    color: #fff;
}
ul {
    padding: 0;
    list-style: none;
}
.display-font {
    font-family: "Bubblegum Sans", sans-serif;
    font-style: normal;
}
h1 {
    font-size: 2.75rem;
    margin: 0;
}
.banner {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100svh;
    justify-content: space-around;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

nav {
    width: 100%;
}
.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-link {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
}

.hover-shadow:hover {
    text-shadow: 0 0 3rem #f100ff;
    animation: shadow-grow 0.2s ease;
}

@keyframes shadow-grow {
    0% {
        text-shadow: 0 0 0rem #f100ff;
    }
    100% {
        text-shadow: 0 0 3rem #f100ff;
    }
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 5rem;
    }
    .nav-link {
        font-size: 4rem;
    }
}
@media screen and (min-width: 1700px) {
    h1 {
        font-size: 11rem;
    }
    .nav-link {
        font-size: 5rem;
    }
}
.scrolltext {
    margin: 0;
}
